<div class="container">
	<div class="row justify-content-center">
		<div class="col-6 signup">
			<h1>Sign up as </h1>
			<h1><button  class="signupbtn"><%= link_to 'Restaurant Owner', new_userrest_registration_url, class: "nav-link" %></button></h1>

		</div>
		<div class="col-6 signup">
			<h1>Sign up as </h1>
			<h1><button class="signupbtn"><%= link_to 'User', new_customer_registration_url, class: "nav-link" %></button></h1>

		</div>
	</div>
</div>