// Place all the styles related to the Menuitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.restimg{
	width:25vw;
	height:25vw;
	object-fit:cover
}

.row{
	margin-top: 10px;
}

div.coverimg{
	width:25vw;
	object-fit:cover;
	background-color:rgba(0,0,0,0);
}

div.restimg img{
	object-fit:cover;
	height:25vw;
}

div.coverimg img{
	object-fit:cover;
	height:25vw;
}

div.card{
	border:none;
	border-radius:0;
	margin:0 auto;
}

img.card-img-top{
	border-radius:0;
}