.simple-calendar{
	width:80vw;
	margin: 20px auto 0 auto;
}

.simple-calendar tbody tr{
	height:10vw;
}

.simple-calendar tbody td{
	width:10vw;
}

.right{
	float:right;
	position:relative;
	right:0;
	margin-left:10px;
}

.day .wday-2 .future .start-date .current-month .has-events{
	width:100%;
}

.qty{
	width:45px!important;
	height:25px!important;
}

