// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.welcome-header {
	float: right;
	font-size: 20px;
	margin-top:0px!important;
}

h1{
	text-transform:uppercase;
	text-align:center;
}


img.img-thumbnail {
	width: 300px;
}

div.food-cat {
	display: inline-block;
	width: 400px;
}


a.minor-links {
margin: 10px;
}

a.cat-links {
	margin: 10px;
}

div.restimg{
	width:25vw;
	height:25vw;
	object-fit:cover
}


div.restimg img{
	object-fit:cover;
	height:25vw;
}

div.card{
	border:none;
	border-radius:0;
	margin:0 auto;
}

img.card-img-top{
	border-radius:0;
}

input.searchbar{
	width:100%;
	display: inline-block;
}

.search{
	width:40px;
	z-index:+2;
	display:inline-block;
	float:right;
	position:absolute;
	top:0;
	right:10px;
}

.filter{
	width:90px;
	z-index:+2;
	display:inline-block;
	float:right;
	position:absolute;
	top:4px;
	right:55px;
	color:rgba(0,0,0,0.5);
	text-align:right;
}

.search img{
	width:100%;
}

.carousel-caption{
	font-size:40px
}

h5{
	text-align:center;
}

.jumbotron{
	height:60vh;
	border-radius:0
}

.jumbotron .row{
	width:100%;
}

.carousel-item{
	width:100%;
	height:60vh;
}

.carousel-item img{
	width:100%;
		object-fit:fill;
}

